/* Split.js */
/* .split {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
} */

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "graph-controls gutter-1 code-controls gutter-3 stack"
        "graph          gutter-1 code          gutter-3 stack"
}

.gutter-col {
    cursor: col-resize;
    background-color: #eee;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter-col-1 {
    grid-area: gutter-1;
}

.gutter-col-3 {
    grid-area: gutter-3;
}

.cell {
    overflow: hidden;
}

#graph-controls {
    grid-area: graph-controls;
    margin: 1em;
}

#graph {
    grid-area: graph;
}

#code-controls {
    grid-area: code-controls;
    margin: 1em;
}

#code {
    grid-area: code;
}

#stack {
    grid-area: stack;
}
