<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Graph Recursion Visualizer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div class="grid">

        <div id="execution-controls" class="cell mx-1 my-3">
            <div>
                <span class="btn-group m-2" role="group">
                    <button type="button" class="btn btn-outline-primary" @click="playOrPause" :disabled="forwardDisabled"><i class="fa-solid"
                            :class="{ 'fa-play': !playing, 'fa-pause': playing }"></i></button>
                    <button type="button" class="btn btn-outline-primary" @click="stop" :disabled="!operations"><i class="fa-solid fa-stop"></i></button>
                    <button type="button" class="btn btn-outline-primary" @click="replay" :disabled="!operations"><i class="fa-solid fa-rotate-right"></i></button>
                </span>

                <span class="btn-group m-2" role="group">
                    <button type="button" class="btn btn-outline-primary" @click="backward" :disabled="backwardDisabled"><i class="fa-solid fa-backward-step"></i></button>
                    <button type="button" class="btn btn-outline-primary" @click="forward" :disabled="forwardDisabled"><i class="fa-solid fa-forward-step"></i></button>
                </span>

                <span class="dropdown m-2">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuCodeExamples" data-bs-toggle="dropdown" aria-expanded="false">
                        Examples
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuCodeExamples" :disabled="operations">
                        <li><a v-for="exampleName in codeExamples" class="dropdown-item" :class="{ 'disabled': operations }" href="#" @click="applyCodeExample(exampleName)">{{exampleName}}</a></li>
                    </ul>
                </span>
            </div>
            <div>
                <span class="progress m-2">
                    <div class="progress-bar" role="progressbar" :style="{ width: progress + '%' }" :aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
                </span>
            </div>
        </div>

        <div id="editor" class="cell"></div>

        <div id="graph-controls" class="cell mx-1 my-3">
            <div>
                <span class="btn-group m-2" role="group">
                    <input type="radio" class="btn-check" name="btnMode" id="btnConnect" autocomplete="off" value="Connect" v-model="drawMode" @change="connectEnabled = true" :disabled="!enabled">
                    <label class="btn btn-outline-primary" for="btnConnect">Connect</label>

                    <input type="radio" class="btn-check" name="btnMode" id="btnMove" autocomplete="off" value="Move" v-model="drawMode" @change="connectEnabled = false">
                    <label class="btn btn-outline-primary" for="btnMove">Move</label>
                </span>

                <span class="form-check form-check-inline form-switch m-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" v-model="newNodesEnabled" :disabled="!enabled">
                    <label class="form-check-label" for="flexSwitchCheckChecked">New Nodes</label>
                </span>
            </div>
            <div>
                <span class="btn-group m-2">
                    <button type="button" class="btn btn-outline-primary" @click="applyLayout">Layout: {{selectedLayoutName}}</button>
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" id="dropdownMenuLayout" data-bs-toggle="dropdown" aria-expanded="false"
                        data-bs-reference="parent">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLayout">
                        <li><a v-for="layoutName in layoutNames" class="dropdown-item" href="#" @click="selectLayout(layoutName)">{{layoutName}}</a></li>
                    </ul>
                </span>
            </div>
        </div>

        <div id="graph" class="cell"> </div>

        <div id="stack" class="cell">
            <div id="empty"></div>
            <ul id="frames" class="list-group">
                <li v-for="(frame, index) in stack.slice().reverse()" class="list-group-item" :class="{ 'list-group-item-primary': index === 0 }">{{frame.data().data}}</li>
            </ul>
        </div>

        <div class="gutter-col gutter-col-1"></div>
        <div class="gutter-col gutter-col-3"></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/cytoscape@3.22.0/dist/cytoscape.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-edgehandles@4.0.1/cytoscape-edgehandles.min.js"></script>
    <script src="https://unpkg.com/dagre@0.8.5/dist/dagre.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.4.0/cytoscape-dagre.min.js"></script>
    <script src="https://unpkg.com/klayjs@0.4.1/klay.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-klay@3.1.4/cytoscape-klay.min.js"></script>
    <script src="https://unpkg.com/layout-base@2.0.1/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base@2.1.0/cose-base.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-fcose@2.1.0/cytoscape-fcose.min.js"></script>

    <script src="https://unpkg.com/vue@3.2.37"></script>

    <script type="module" src="index.js"></script>

</body>

</html>
