.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "execution-controls  gutter-1  graph-controls  gutter-3  stack-and-graph-controls"
        "editor              gutter-1  graph           gutter-3  stack-and-graph-source"
}

.gutter-col {
    cursor: col-resize;
    background-color: #eee;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter-col-1 {
    grid-area: gutter-1;
}

.gutter-col-3 {
    grid-area: gutter-3;
}

.cell {
    overflow: hidden;
}

#graph-controls {
    grid-area: graph-controls;
}

#graph {
    grid-area: graph;
}

#execution-controls {
    grid-area: execution-controls;
}

#editor {
    grid-area: editor;
}

#stack-and-graph-controls {
    grid-area: stack-and-graph-controls;
}

#stack-and-graph-source {
    grid-area: stack-and-graph-source;
}

#stack {
    width: 100%;
    height: 100%;
}

#stack-grid {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "frames"
        "empty"
}

#stack-frames {
    grid-area: frames;
}

#stack-empty {
    grid-area: empty;
}

#graph-source {
    width: 100%;
    height: 100%;
}
